@media (max-width: $breakpoint-sm){
    #header{
        .logoImg{
            float: right;
            padding-top: 1%;
            padding-left: 3%;
            padding-right: 69%;
            padding-bottom: 1%;
        }
        .logo{
            padding-left: 3%;
        }
        .menu0{
            display: none;
       }
        .share1{
            display: none;
        }
    }
    #slider{
        .slider2{
            width: 100%;
            padding-top: 5%;
        }
        .imagen{
            display: none;
        }
        .titulos{
            padding-left:7%; 
            width: 30%;
        }
        .texto{
            text-align: center;
            padding-left:5%;
            padding-top: 0.6%;
            width: 22%;
        }
        .internet{
            display: none;
        }
        .dispositivos{
            display: none;
        }
    }
    #contenedor{
        .color{
          width: 30%;
          margin-left: 1%;
        }
        .texto{
            text-align: center;
            padding-left:6.5%;
            padding-top: 2.6%;
            width: 60%;
        }
        .cTablet{
            display: block;
        }
        .imagen2{
            display:none;
        }
        .cajas{
            width: 25%;
            padding:0 0 4% 4%;
        }
        .dere{
            padding-left: 0;
        }
        .dere2{
            display: block;
            padding-left: 4%;
        }
        .izqui{
            padding-left: 4%;
        }
        .ultima{
            display: block;
            padding-left: 4%;
        }
        .sub{
            padding-left: 4%;
        }
        .text2{
            padding-left: 4%;
        }
        .ima{
            display: inline;
        }
    }
    #footer{
        .footer2{
            width: 87%;
        }
        .sprite1{
            display: none;
        }
        #space{
            width:63%;
        }
        #btn{
            width: 23%;
        }
        .titulo2{
            padding-top: 8%;
        }
    }
    #subFooter{
        .sub3{
            padding-left: 4%;
        }
        .subF2{
            display: none;
        }
        .subF1{
            padding-left: 5%;
        }
    } 
}