$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 576px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1200px;

// Colores
$header:#fcdb00;
$contenido:white;
$footer:#010101;
$titulo2:#313841;
$parrafos:#555555;
$cajas:#898989;
$blanco:white;
$negro:black;

// Medidas
$cero:0px;
$uno:1%;
$dos:2%;
$tres:3%;
$cuatro:4%;
$cinco:5%;
$seis:6%;
$siete:7%;
$nueve:9%;
$diez:10%;
$once:11%;
$catorce:14%;
$veinte:20%;
$cuarenta5:45%;

// Texto
$fzparem:16px;
$veinte2:20px;
$treinta2:32px;