$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Colores
$header:#fcdb00;
$contenido:white;
$footer:#010101;

// Medidas
$cero:0px;

// Texto
$fzparem:16px;