#footer{
    background-color:$footer;
}
.footer2{
    padding-top: 7.5%;
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}

.color2{
    color: $header;
}

.text3{
    color: $cajas;
}

#space{
    width: 56%;
}

#btn{
    background-color: $header;
    border: 0;
    width: 12%;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

#formulario{
    padding-bottom:8%; 
}

.sprite{
    background-image: url(../img/share.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-fb{
    width: 55px;
    height: 55px;
    background-position: 0px  -3px;
}

.sprite-t{
    width: 55px;
    height: 55px;
    background-position: -65px -3px;
}

.sprite-g{
    width: 55px;
    height: 55px;
    background-position: -130px -3px;
}

.sprite-p{
    width: 55px;
    height: 55px;
    background-position: -200px -3px;
}

a{
    color: transparent;
}