#header{
    width: 100%;
    padding-top: 6%;
    background-color: $header;
}

.logoImg{
    display: none;
}

.share{
    display: none;
}
.share1{
    padding: 0;
    margin: 0;
}

.header1{
    width: 940px;
    margin: 0 auto;
}

.menu0{
    padding: $cero;
    margin: $cero;
    float: right;
}

.menu{  
    font-weight: bold; 
    text-decoration: none;
    list-style: none;
    display: inline;
}

.menu li{
    display: inline;
}

.menu li + li{
    margin-left: 38px; 
}
.menu a{
    text-decoration: none;
    color:$footer;
    font-size: (22px / $fzparem + rem);
}