#slider{
    width: 100%;
    background-color: $header;
    padding-bottom: 10%;
}

.clearfix{
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
}

.slider1{
    width: 940px;
    margin: 0 auto;
}

.slider2{
    padding-top:$catorce;
    width: $cuarenta5;
    float: left;
}

.titulos{
    font-weight: bold;
    padding: $cero;
    margin: $cero;
    padding: 0  $uno 0  $uno;
    font-size: ($treinta2 / $fzparem + rem);
}

.titulo2{
    padding: 0 $uno 0  $uno;
    margin-top:$dos; 
    font-weight: normal;
    font-style: normal;
    font-size: ($veinte2 / $fzparem + rem);
    color: $titulo2;
}

.texto{
    margin-top: $tres;
    padding: 0  $uno 0  $uno;
}

.dispositivos{
    display: none;
}

.internet{
    margin-left: $tres;
    display: inline;
}

.imagen{
    margin: 0 auto;
    margin-top: $siete;
    max-width: 100%;
    display: block;
    float: right;
}